.roboCard {
    margin: 6px;
    width: fit-content;
    min-width: 250px;
    padding: 10px 10px 0px 10px;
    text-align: center;

    border: 2px solid rgb(65, 65, 65);
    border-radius: 6px;
    background-color: rgba(20, 118, 136, 0.35);
    box-shadow: 3px 3px 3px rgb(110, 110, 110);
}

.roboCard:hover{
    transition: 0.1s ease-in-out;
    background-color: rgba(20, 119, 136, 0.45);
    cursor: pointer;
    scale: 1.03;
}